@media print {
  body * {
    visibility: hidden;
  }
  .pagedjs-preview-root,
  .pagedjs-preview-root * {
    visibility: visible;
  }
  .pagedjs-preview-root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .preview-scroll {
    overflow: visible !important;
    background: none !important;
    padding: 0 !important;
  }
  .pagedjs-preview-root .pagedjs_page {
    box-shadow: none !important;
    margin: 0 !important;
  }
}
